@charset "utf-8";
/*
*@desc alert弹窗
*@author [maowenqiang]
*@data 2015-7-2
 */

/*alert弹窗*/
.alertBox2 {
	color: #fff;
	font-size: 14px;
	display: none;
	text-align: center;
	margin: 0 auto;
	position: fixed;
	left: 0%;
	bottom: 50%;
	width: 100%;
	z-index: 999;
}
.alertBox2 div, .alertBox2 div.alertBox2_txt {
	background-color: rgba(71,71,71,0.95) !important;
	border-radius: 25px;
	padding: 5px 10px; display:inline-block; margin:0 auto;
}

/**  box-shadow: 0 0 0.312rem 1px #a3a3a3; transform:translate(-50%,0); -webkit-transform:translate(-50%,0); -o-transform:translate(-50%,0);-moz-transform:translate(-50%,0); /
/*alert弹窗*/
