@charset "utf-8";
/* CSS layout */

/* 默认样式 */
*{margin:0;padding:0;}
body,div,ul,li,span,img,input,form{ margin:0; padding:0;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd{ margin:0;}
ul,ol,{padding:0;}
*{margin:0;padding:0;}
body{width:100%;font-size:16px; font-family:"微软雅黑";width:100%;margin:auto;background:#f2f2f2;}
a{ text-decoration:none; color:#21b9fd;}
li{ list-style:none; }
img{ border:none 0;}
/*input{ outline:none; border:none; background:none;}
input,textarea,select{ margin:0; }					
input,textarea{ padding:0;}
input::-ms-clear{display:none;}*/


/* 浮动公共样式 */
.le{ float:left; _display:inline; }
.ri{ float:right; _display:inline; }
.clearfix:after{ display:block; content:''; clear:both;}
.clear{ zoom:1;}


/*公共样式*/

.mn{margin:0 auto}
.ds{display:block;}
.bg{background:red;}
.bg_b{background:blue;}
.bg_g{background:green;}
.bg_y{background:yellow;}
.br_h{border:1px solid #22b9fb;}
.bb_d{border-bottom:1px solid #ddd;}
.br_n{border:0px;}
.c_bw{background:#22b9fd;color:#fff;}
.c_bf{background:#f5f5f5;color:#989898;}
.txt{text-align:center;}
.br{border-radius:3px;}
.bs_r{box-shadow: 0px 4px 11px rgba(0,0,0,0.2);}
.mt_20{margin-top:20px;}
.mt_30{margin-top:30px;}
.mt_35{margin-top:35px;}
.mt_10{margin-top:10px;}
.mt_5{margin-top:5px;}
.mt_50{margin-top:50px;}
.mt_40{margin-top:40px;}
.ml_5{margin-left:5px;}
.ml_10{margin-left:10px;}
.ml_15{margin-left:15px;}
.ml_20{margin-left:20px;}
.ml_25{margin-left:25px;}
.ml_30{margin-left:30px;}
.ml_33{margin-left:33px;}
.ml_40{margin-left:40px;}
.ml_75{margin-left:75px;}
.ml_45{margin-left:45px;}
.ml_60{margin-left:60px;}
.mb_10{margin-bottom:10px;}
.pb_98{padding-bottom:98px;}
.pb_20{padding-bottom:20px;}
.pt_20{padding-top:20px;}
.pt_165{padding-top:165px;}
.pl_25{padding-left:25px;}
.pr_45{padding-right:45px;}
.p_20{padding:0 20px;}
.m_40{margin:0 40px;}
.mt_15{margin-top:15px;}
.cl{color:#2bff2b;}
.cl_2{color:#22b9fb;}
.cl_6{color:#666}
.cl_9{color:#999}
.cl_0{color:#000}
.cl_r{color:red}
.ft_14{font-size:14px;}
.ft_15{font-size:15px;}
.ft_16{font-size:16px;}
.ft_12{font-size:12px;}
.ft_b{font-weight:bold;}
.w_846{width:846px;}
.w_90{width:90px;}
.w_40{width:40px;}
.w_66{width:66px;}
.w_100{width:100px;}
.w_1200{width:1200px;}
.w_270{width:270px;}
.w_70{width:70px;}
.h_36{height:36px;}
.h_100{height:100px;}
.h_30{height:30px;}
.h_20{height:20px;}
.h_90{height:90px;}
.pw{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

.content{height:612px;}
.content_L{width:258px;background:#fff;height:613px;position:relative;}
.content_R{width:910px;background:#fff;height:613px;}
.content_L .my a{display:block;text-align:center;padding-top:30px;color:#000;}
.content_my_end{height:48px;width:100%;background:#fbfbfb;position:absolute;left:0;bottom:0;line-height:48px;}
.content_my_end span{width:80px;height:48px;background:url(../img/144.png) no-repeat center;padding-left:107px;}
.content_R .my_reply{width:910px;height: 30px;line-height:48px;}
.content_R .my_reply p{height:30px;line-height:30px;width:170px;background:url(../img/ju-12.png) no-repeat left;padding-left:15px;}
.content_R .my_reply a{display:block;float:left;padding:0 30px; color:#000;height:48px;text-align: center;line-height:52px;}


.content_R .my_reply a:hover{
	box-sizing:border-box;
    border-bottom:4px solid #22b9fd;
	
}

.content_R .br_n{border-bottom:none;}


.content_R_page .Page .num{width:337px;margin:0 auto;margin-top:2px;}
.content_R_page .Page .num_1{margin-left:13px;}
.content_R_page .Page .num_1:hover{background:none;}
.content_R_page .Page a{display:block;width:24px;height:24px;font-size:12px;color:#989898;float:left;text-align:center;line-height:24px;margin-right:3px;border-radius:3px;}
.content_R_page .Page .ss{background:#21b9fd;color:#fff;}

.content_R_page .Page .ye:hover{background:#ccc;color:#fff;}
.content_R_page .Page .ss:hover{background:#21b9fd;color:#fff;}

.content_R a:active{box-shadow: 0px 0px 0px rgba(0,0,0,0);}
.content_R_msg .adopt span{background:url(../img/141.png) no-repeat left;}
.content_R_msg .adopt .span_1{background:url(../img/153.png) no-repeat left;}
.content_R_msg .adopt .span_2{background:url(../img/143.png) no-repeat left;}
.content_R_msg .xiang:active{background:#22b9fb;color:#fff;}