@charset "utf-8";
/* CSS layout */

/* 默认样式 */
*{margin:0;padding:0;}
body,div,ul,li,span,img,input,form{ margin:0; padding:0;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd{ margin:0;}
ul,ol{padding:0;}
*{margin:0;padding:0;}
body{ width:100%;font-size:16px; font-family:"微软雅黑";width:100%;margin:auto;background:#f2f2f2;}
a{ text-decoration:none; color:#000;}
li{ list-style:none; }
img{ border:none 0;}
/*input{ outline:none; border:none; background:none;}
input,textarea,select{ margin:0; }					
input,textarea{ padding:0;}
input::-ms-clear{display:none;}*/


/* 浮动公共样式 */
.le{ float:left; _display:inline; }
.ri{ float:right; _display:inline; }
.clearfix:after{ display:block; content:''; clear:both;}
.clear{ zoom:1;}
.ps{position:absolute;}
.pr{position:relative;}
.op{opacity:0.8;}
.mn{margin:0 auto;}
.ds{display:block;}
.w{width:100%;}
.h{height:100%;}
.h_20{height:20px;}
.lh_20{line-height:20px;}
.lh_30{line-height:30px;}
.h_25{height:25px;}
.lh_25{line-height:25px;}
.h_40{height:40px;}
.lh_40{line-height:40px;}
.h_60{height:60px;}
.lh_60{line-height:60px;}
.h_200{height:200px;}
.lh_200{line-height:200px;}
.h_205{height:205px;}
.w_40{width:40px;}
.w_68{width:68px;}
.w_150{width:150px;}
.w_240{width:240px;}
.w_220{width:220px;}
.w_380{width:380px;}
.w_1200{width:1200px;}
.bg_r{background:red;}
.bg_f{background:#fff;}
.bg_0{background:#000;}
.bg_2{background:#22b9fd;}
.bg_3{background:#2fdf32;}
.bg_b{background:blue;}
.bg_g{background:green;}
.bg_y{background:yellow;}
.ft_14{font-size:14px;}
.ft_12{font-size:12px;}
.ft_15{font-size:15px;}
.ft_30{font-size:30px;}
.fw{font-weight:bold;}
.cl_f{color:#fff;}
.cl_22{color:#222;}
.cl_9{color:#999;}
.cl_0{color:#000;}
.cl_2{color:#22b9fd;}
.cl_4{color:#48b85f;}
.br{border-radius:8px;}
.br_4{border-radius:4px;}
.br_1{border:1px solid #22b9fd;box-sizing:border-box;}
.bs{box-shadow: 0px 0px 5px rgba(0,0,0,0.2);}
.ml_10{margin-left:10px;}
.ml_15{margin-left:15px;}
.ml_30{margin-left:30px;}
.ml_70{margin-left:70px;}
.mt_30{margin-top:30px;}
.mt_20{margin-top:20px;}
.mt_25{margin-top:25px;}
.mt_18{margin-top:18px;}
.mt_10{margin-top:10px;}
.pt_10{padding:0 10px;}
.iw{font-style:normal;}
.ib{font-weight:bold;}
.to{text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}


.header_1{width:100%;height:200px;color:#fff;margin-top:66px;background:#000;}
.header_1_m{width:1200px;height:200px;margin:0 auto;background:#000;}
.header_1 .left{float:left;}
.header_1 .left h4{font-size:30px;padding-left:75px;padding-top:70px;font-size:30px;}
.header_1 .left p{font-size:30px;padding-left:75px;font-size:18px;margin-top:15px;}
.header_1 .right {float:right;}
.header_1 .right .top{padding-top:70px;}
.header_1 .right .top a{display:block;width:53px;height:53px;border-radius: 50%;float:left;margin-left:27px;}
 
.content{width:1200px;min-width:960px;margin:0 auto;margin-top:30px;}
.content .advertisement ul{min-width:960px;}
.content .advertisement li{width:230px;height:99px;background:#fff;float:left;margin-left:12px;margin-top:10px;}
.content .advertisement .ml{margin-left:0;}
.bottom{margin-top:17px;width:296px;margin-left:27px;}
.bottom  .line{margin:0 auto;height:22px;text-align:center;}
.bottom .line .mid{padding:0 10px;width:160;font-size:16px;color:#9a9a9a;}
.bottom .line .lin{width:66px;height:10px;border-bottom:1px solid #9a9a9a;}



/*内容4*/
.content_4{width:1200px;margin:0 auto;}
.content_4 li{float:left;}

footer{width:100%;height:142px;background:#222;margin-top:435px;}
footer .foot{width:1200px;height:142px;margin:0 auto;background:#222;}
footer p{text-align:center;line-height:45px;color:#fff;}
footer p a{padding-right:30px;color:#fff;}

/*分页*/
.tYpe{width:1200px;height:121px;margin-top:10px;}
.tYpe .t_t{height:89px;background:#fff;}
.tYpe .t_t li{float:left;height:89px;}
.tYpe .t_t li a{padding-left:20px;line-height:45px;font-size:14px;}
.tYpe .t_t li .active{color:#22b9fb;}
.tYpe .t_t .li1{padding-left:17px;width:169px;}
.tYpe .t_t .li1_end{padding-left:0;}
.tYpe .t_b{height:32px;background:#fafafa;text-align:center;line-height:32px;}
.tYpe .t_b a{color:#b0b0b0;}
.tYpe .t_t .li2{padding-left:145px;width:186px;}
.tYpe .t_t .li3{padding-left:76px;width:368px;}
.tYpe .t_t .li4{padding-left:85px;width:219px;}

.Page{padding-top:65px;}
.Page .num{width:355px;margin:0 auto;}
.Page .num_1{margin-left:13px;}
.Page .num_1:hover{background:none;}
.Page a{display:block;width:24px;height:24px;font-size:16px;color:#989898;float:left;text-align:center;line-height:24px;margin-right:3px;border-radius:3px;}
.Page .ss{background:#21b9fd;color:#fff;}
.Page .ye:hover{background:#ccc;color:#fff;}
.Page .ss:hover{background:#21b9fd;color:#fff;}
